name: Build and Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout código
      uses: actions/checkout@v3

    - name: Instalar dependências
      run: sudo apt-get update && sudo apt-get install -y build-essential

    - name: Compilar com Make
      run: make

    - name: Limpar arquivos
      run: make clean
